#Data **Structure**

1. What are data structures, and why are they important?
-> Data structures are organized ways to store and manage data to perform operations efficiently. They are important because they optimize processing and retrieval, make algorithms efficient, and help manage large amounts of data effectively. Examples include arrays, lists, stacks, queues, and trees2.

2. Explain the difference between mutable and immutable data types with
   examples.

-> # Mutable Data Types
- Can be modified after creation
- Changes made to the original data affect all references to it

Examples:

- Lists: my_list = [1, 2, 3]; my_list[0] = 10; print(my_list) # Output: [10, 2,
   3]
- Dictionaries: my_dict = {'a': 1}; my_dict['a'] = 2; print(my_dict) # Output:
  {'a': 2}
- Sets: my_set = {1, 2, 3}; my_set.add(4); print(my_set) # Output: {1, 2, 3, 4}

-> Immutable Data Types
- Cannot be modified after creation
- Changes made to the original data create a new copy

Examples:

- Integers: my_int = 5; my_int += 1; print(my_int) # Output: 6 (creates a new
   integer object)
- Floats: my_float = 3.14; my_float += 1.0; print(my_float) # Output: 4.14      (creates a new float object)
- Strings: my_str = 'hello'; my_str += ' world'; print(my_str) # Output: 'hello
  world' (creates a new string object)
- Tuples: my_tuple = (1, 2, 3); my_tuple += (4, 5); print(my_tuple) # Output:
  (1, 2, 3, 4, 5) (creates a new tuple object)

3. What are the main differences between lists and tuples in Python?

-> Lists are mutable, tuples are immutable.

Lists consume more memory due to extra functionality, whereas tuples are faster.

Lists use square brackets ([]), while tuples use parentheses (()).

4. Describe how dictionaries store data.
-> Dictionaries store data as key-value pairs using a hashing mechanism. Each key is hashed, and the resulting hash determines the index in memory where the value is stored.


5. Why might you use a set instead of a list in Python?
-> Sets ensure unique elements and allow fast membership tests (O(1) complexity). Use sets when you need to eliminate duplicates or check for membership frequently.


6. What is a string in Python, and how is it different from a list?
-> Strings are immutable sequences of characters, while lists are mutable collections of items (which can be of any data type). Strings are specialized for text handling.


7. How do tuples ensure data integrity in Python?
-> Tuples are immutable, so once created, their contents cannot be altered, ensuring data remains consistent and unchangeable.


8. What is a hash table, and how does it relate to dictionaries in Python?
-> A hash table is a data structure that maps keys to values using a hash function. Dictionaries in Python use hash tables for efficient data retrieval.

9. Can lists contain different data types in Python?
-> Yes, Python lists can contain elements of different data types.
Example: mixed_list = [1, "hello", 3.14, True]

10. Explain why strings are immutable in Python.
-> Strings are immutable to optimize memory usage and improve performance since they are widely used. Immutability also makes strings hashable, enabling their use as keys in dictionaries.


11. What advantages do dictionaries offer over lists for certain tasks?
-> Dictionaries allow constant-time data retrieval (O(1)) for known keys and are better for mapping relationships between data.


12. Describe a scenario where using a tuple would be preferable over a list.
-> Use tuples for fixed data that should not be changed, such as coordinates (x, y) or configurations.


13. How do sets handle duplicate values in Python?
-> Sets automatically remove duplicate values.
Example: my_set = {1, 2, 2, 3}
            print(my_set)  # Output: {1, 2, 3}


14. How does the “in” keyword work differently for lists and dictionaries?
-> For lists: Checks if the value exists.

For dictionaries: Checks if the key exists.
Example: my_list = [1, 2, 3]
            print(2 in my_list)  # True

         my_dict = {'a': 1, 'b': 2}
             print('a' in my_dict)  # True

15. Can you modify the elements of a tuple? Explain why or why not.
-> No, tuples are immutable, meaning their elements cannot be changed after creation.


16. What is a nested dictionary, and give an example of its use case.
-> A nested dictionary is a dictionary within another dictionary.
Example:students = {'Alice': {'age': 25, 'grade': 'A'},'Bob': {'age': 'grade': 'B'}}

17. Describe the time complexity of accessing elements in a dictionary.
->Accessing elements in a dictionary has an average time complexity of O(1), thanks to its hash table implementation.


18. In what situations are lists preferred over dictionaries?
-> Lists are preferred for ordered data, sequential operations, or when only values are required without any key association.


19. Why are dictionaries considered unordered, and how does that affect data retrieval?
-> Until Python 3.7, dictionaries were unordered because they used hash tables. Now, they maintain insertion order but still retrieve values based on keys rather than index.


20. Explain the difference between a list and a dictionary in terms of data retrieval.
-> Lists retrieve elements by index, whereas dictionaries retrieve values by k

#Practical **Questions**

1. Write a code to create a string with your name and print it.

In [25]:
name="Shruti Raj Gupta"
print(name)

Shruti Raj Gupta

2. Write a code to find the length of the string "Hello World".

In [2]:
print(len("Hello World"))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
print("Python Programming"[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [5]:
print("hello".upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [7]:
print("I like apple".replace("apple","orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [8]:
my_list=[1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [10]:
my_list=[1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [11]:
my_list=[1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [12]:
my_list=['a','b','c','d']
print(my_list[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [14]:
my_list=[10,20,30,40,50]
print(my_list[::-1])

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [16]:
my_tuple=(10,20,30)
print(my_tuple)

(10, 20, 30)

12.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [18]:
my_tuple=('apple','banana','cherry')
print(my_tuple[0])

apple

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [19]:
my_tuple=(1,2,3,2,4,2)
print(my_tuple.count(2))

3

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [20]:
my_tuple=('dog','cat','rabbit')
print(my_tuple.index('cat'))

1

15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [22]:
my_tuple=('apple','orange','banana')
print('banana' in my_tuple)

True

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [23]:
my_set={1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

17.  Write a code to add the element 6 to the set {1, 2, 3, 4}

In [24]:
my_set={1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [26]:
my_tuple=(10,20,30)
print(my_tuple)

(10, 20, 30)

 19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [28]:
my_tuple=('apple','banana','cherry')
print(my_tuple[0])

apple

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [29]:
my_tuple=(1,2,3,2,4,2)
print(my_tuple.count(2))

3

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [31]:
my_tuple=('dog','cat','rabbit')
print(my_tuple.index('cat'))

1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [32]:
my_tuple=('apple','orange','banana')
print('banana' in my_tuple)

True

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [33]:
my_set={1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [35]:
my_set={1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}